/*
MY COLOR PALETTE
Misty Rose - #F1DEDE
Rose quartz - #BBACC1
Taupe Gray - #80727B
Dark Purple- #1C0221
Rich Black - #051014
*/
h1 { 
color: #1C0221;
    font-family: "inria serif";
}
img {
    width:50%;
}
h2 {
    font-family:"lato";
}


