/*
MY COLOR PALETTE
Misty Rose - #F1DEDE
Rose quartz - #BBACC1
Taupe Gray - #80727B
Dark Purple- #1C0221
Rich Black - #051014
*/
h1 { 
color: #1C0221;
    font-family: "inria serif";
     font-weight: 700;
    font-size: xx-large;
    padding-top: 20px;
}
img {
    width:30%;
    padding-top: 20px;
    display:block;
    margin:auto;
}
h2 {
    font-family:"lato";
    font-weight: 500;
    font-size: large;
}
body {
    background-color: #F1DEDE;
    text-align: center;
    color: #1C0221;
}
button {
    background-color: #BBACC1;
    color: #380e05;
    font-size: 20px;
    font-family: "lato";
    width: 250px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    align-content: center;
}
button:hover {
    background-color: #80727B;
}
#words{
    padding-right: 20px;
    display:block;
    margin:auto;
}



